{%- comment -%}

Parameters:
  item_link
  item_icon_alt
  item_icon_path
  item_desc
  item_modal
  item_button

{%- endcomment -%}

<div class="responsive">
  <div class="gallery">
  {% if include.item_modal.size > 0  %}
    <a class="modal-button" alt="{{ include.item_icon_alt }}" data-modal="{{ include.item_modal }}">
  {% else %}
    <a href="{{ include.item_link }}" alt="{{ include.item_icon_alt }}">
  {%- endif -%}
        <img src="{{ include.item_icon_path }}" align="middle">
        <div class="desc">{{ include.item_desc }}</div>
    </a>
  </div>
</div>
